[flake8]
max-line-length = 100
extend-ignore =
    B011,
    E501
exclude =
    .venv,
    build,
    dist,
    docs/archive,
    contrib/legacy,
    src/musictools,
    allfiles,
    archive
per-file-ignores =
    tests/*:F401
